
<div class="header">
  <h2>Добавление задачи</h2>
</div>

<div class="task-add-page">

  <div class="content">

    <form (ngSubmit)="onSubmit($event)" [formGroup]="taskAddControl" class="task-add-form">

      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Название</mat-label>
          <input formControlName="name" matInput type="text" placeholder="Название" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Описание</mat-label>
          <textarea formControlName="description" matInput placeholder="Описание"></textarea>
        </mat-form-field>
      </div>

      <div class="row-justify">
        <mat-form-field appearance="fill">
          <mat-label>Планируемое время</mat-label>
          <input formControlName="plannedTime" matInput type="number" placeholder="Время в часах" >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Трудозатраты</mat-label>
          <input formControlName="usedTime" matInput type="number" placeholder="Трудозатраты" >
        </mat-form-field>
      </div>
      <div class="row-justify">
        <mat-form-field>
          <mat-select placeholder="Статус"   formControlName="status">
            <mat-option
                *ngFor="let status of (settings | async).statuses | keyvalue | orderBy: null : 'value' : 'order';
            trackBy: trackByFn"
                [value]="status.key"
            >
              {{status.value.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-select placeholder="Приоритет" formControlName="priority" >
            <mat-option
                *ngFor="let priority of (settings | async).priorities | keyvalue | orderBy: null : 'value' : 'order';
            trackBy: trackByFn"
                [value]="priority.key"
            >
              {{priority.value.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <br>

      <div class="login-row-submit">
        <button [disabled]="disabled || !taskAddControl.valid" type="submit" mat-raised-button color="primary">
          <div class="button-spinner">
            <mat-spinner *ngIf="disabled" strokeWidth="2" diameter="20"></mat-spinner>
            <span>Добавить</span>
          </div>
        </button>

      </div>

    </form>
  </div>
</div>
