:host {
  width: 100%;
}
.content {
  width: 300px;
  margin: 0 auto;
}
.mat-form-field {
  width: 100%;
}
.login-form-row {
  margin-bottom: 5px;
}
.login-page {
  width: 100%;
  margin-top: 20px;

  display: flex;
  justify-content: center;
}
.app-name {
  color: #666;
  font-weight: normal;
  text-align: center;
}
.login-row-submit {
  display: flex;
  justify-content: flex-end;
}

