<mat-toolbar color="primary">

  <mat-toolbar-row>

    <div class="toolbar-container">
      <span [routerLink]="['/']" >UI Task Tracker</span>

      <div *ngIf="(users | async ).profile">
        <button [routerLink]="['/tasks/add']" mat-icon-button aria-label="">
          <mat-icon>add_box</mat-icon>
        </button>

        <button [routerLink]="['/settings']" mat-icon-button aria-label="">
          <mat-icon>settings</mat-icon>
        </button>

        <button (click)="signOut()" mat-icon-button>
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
