<div class="toolbar">

  <mat-form-field>
    <mat-label>Приоритет</mat-label>
    <mat-select required>
      <mat-option *ngFor="let p of priority" [value]="p">
        {{p}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div class="view-mode">
    <mat-button-toggle-group>
      <mat-button-toggle value="left" aria-label="Text align left">
        <mat-icon color="primary"> view_headline</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center" aria-label="Text align center">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right" aria-label="Text align right">
        <mat-icon>view_column</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <!--<div class="example-selected-value">Selected value: {{group.value}}</div>-->

</div>



  <app-tasks-scrum></app-tasks-scrum>

  <ng-template>
    <app-tasks-table></app-tasks-table>
  </ng-template>
