<div class="scrum-board">

  <ng-container *ngFor="let status of statuses | keyvalue">
    <div class="example-container">
      <h2>{{statuses.get(status.key)}}</h2>

      <div
          cdkDropList
          [cdkDropListData]="tasksItem[status.key]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of tasksItem[status.key]" cdkDrag>
          {{item.name}}
        </div>
      </div>
    </div>

  </ng-container>

</div>
