<div class="task">

  <div>
    <button routerLink="/tasks" mat-button>К списку</button>
  </div>

  <mat-card class="example-card">

    <mat-card-header>

      <mat-card-title>название</mat-card-title>
      <mat-card-subtitle>дата</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><b>описание</b></p>
      <p>
        приоритет
        статус выполнения
        планируемое время
        затраченное время
      </p>
      <p><b>приоритет</b></p>
      <p>
        важный
      </p>
      <p><b>статус выполнения</b></p>
      <p>
        важный
      </p>
      <p><b>статус выполнения</b></p>
      <p>
        важный
      </p>
      <p><b>планируемое время</b></p>
      <p>
        важный
      </p>
      <p><b>затраченное время</b></p>
      <p>
        важный
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Редактировать</button>
    </mat-card-actions>
  </mat-card>
</div>



