
  <div class="back">
    <button routerLink="/tasks" mat-button>Назад</button>
  </div>

  <div class="task">

  <ng-container *ngIf="settings | async as s">

    <mat-card *ngIf="task | async as t" class="example-card">

      <!--<mat-card-header>-->
      <mat-card-title>{{t.name}}</mat-card-title>
      <mat-card-subtitle>{{t.createDate | date: 'dd/MM/yy HH:mm'}}</mat-card-subtitle>
      <!--</mat-card-header>-->

      <mat-card-content>
        <p><b>Описание</b></p>

        <p>
          {{t.description}}
        </p>
        <p><b>Приоритет</b></p>
        <p [style.color]="s.priorities[t.priority].color">
          {{s.priorities[t.priority].name}}
        </p>
        <p><b>Cтатус выполнения</b></p>
        <p>
          {{s.statuses[t.status].name}}
        </p>
        <p><b>Планируемое время</b></p>
        <p>
          {{t.plannedTime}} ч.
        </p>
        <p><b>Затраченное время</b></p>
        <p>
          {{t.usedTime}} ч.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button routerLink="/tasks/edit/{{t.id}}" mat-button>Редактировать</button>
      </mat-card-actions>
    </mat-card>

  </ng-container>

</div>



