<mat-toolbar color="primary">

  <mat-toolbar-row>

    <div class="toolbar-container">
      <span>UI Task Tracker</span>

      <div>
        <button mat-icon-button aria-label="">
          <mat-icon>add_box</mat-icon>
        </button>

        <button mat-icon-button aria-label="">
          <mat-icon>settings</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<div class="container">

  <router-outlet></router-outlet>
</div>

