<div class="task-add-page">
  <div class="content">

    <form class="task-add-form">

      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Название</mat-label>
          <input matInput placeholder="Enter your email" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Описание</mat-label>
          <input matInput type="password" placeholder="Password" required>
        </mat-form-field>
      </div>

      <div class="login-row-submit">
        <button mat-raised-button color="primary" (click)="onLogin()">Добавить</button>
      </div>

    </form>
  </div>
</div>
